.banner{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 25px;
  font-style: oblique;
}
.form{
  display: flex;
  justify-content: center;
}
h1{
  display: flex;
  justify-content: center;
}
dt{
  display: flex;
  justify-content: center;
}
dd{
  font-family: fantasy;
  font-size: 18px;
}
dd:hover{
  transform: translate(2); 
}
